
@use './var';
@use './animations';

@mixin flex-center {

    display: flex;
    justify-content: center;
    align-items: center;
}



@mixin text {

  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: 20px;
  color: var.$dark-purple;

}

@mixin fadein {

  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: both;

}